@font-face {
    font-family: 'speedyswag';
    src: url('../fonts/font.ttf');
}
body {
	background: url(../img/bg.jpg) no-repeat fixed;
}
.container {
	padding: 5px;
	opacity: 0.95;
}
.fullscreen {
	position: absolute;
	height: 100%;
	width: 100%;
}
.center {
	text-align: center;
}

#orderWindow p {
	margin-top: 10px;
	text-shadow: 0px 1px 1px #fff;
}
#orderWindow p img {
	width: 200px;
}
#orderConfirmation, #kitchenWindow, #lstChecks, #waitingOrderWindow h1, #drivers, #livreur {
	margin-top: 15px;
	padding: 15px;
	background: #eee;
	border: 2px solid #ddd;
	border-radius: 8px;
	box-shadow: 1px 2px 15px 2px #111;
}
#orderWindow button, #start-broadcasting {
	margin: 10px;
	font-size: 1.8em;
	font-weight: bold;
}
#orderWindow strong {
	margin: 20px 20px 0px 0px;
	font-size: 1.3em;
}
video {
	width: 100%;
}
#prixTotal {
	margin-right: 15px;
}
#lstChecks label {
	font-size: 2.2em;
	padding: 22px;
	border-radius: 16px;
	width: 80%;
	font-weight: bold;
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}
#lstChecks label.cuisine {
	cursor: pointer;
}
#lstChecks .cuisine:hover {
	opacity: 0.6;
}

#lstChecks label.checked {
	background: #a9db80; /* Old browsers */
	background: -moz-linear-gradient(top, #a9db80 0%, #96c56f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9db80), color-stop(100%,#96c56f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a9db80 0%,#96c56f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 ); /* IE6-9 */
}
input[type=checkbox] {
	visibility: hidden;
}
#orderWindow h1, #waitingOrderWindow h1, #vroomVroomWindow h1 {
	font-family: 'speedyswag';
	margin-top: 10px;
	margin-bottom: 25px;
}

#logo {
	font-family: 'speedyswag';
	position: fixed;
	bottom: 2px;
	left: 15px;
	font-size: 2.5em;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	vertical-align: top;
}
#logo:before {
	content: url(../img/logo.png);
	padding-right: 10px;
}
.glyphicon {
	margin-right: 5px;
}


.one {
	margin-left: 4px;
    opacity: 0;
    -webkit-animation: dot 1s linear 0.0s infinite;
    -moz-animation: dot 1s linear 0.0s infinite;
}
.two {
    opacity: 0;
    -webkit-animation: dot 1s linear 0.1s infinite;
    -moz-animation: dot 1s linear 0.1s infinite;
}
.three {
    opacity: 0;
    -webkit-animation: dot 1s linear 0.2s infinite;
    -moz-animation: dot 1s linear 0.2s infinite;
}
@-webkit-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}

#drivers img {
	cursor: pointer;
}
#drivers img:hover, #roadPics img:hover {
	opacity: 0.8;
}
#floatingPizza {
	position: relative;
	left: -366px;
	top: -34px;
	width: 70px;
	-webkit-animation: bounce 0.5s alternate infinite;
    -moz-animation: bounce 0.5s alternate infinite;
    -o-animation: bounce 0.5s alternate infinite;
}
@-webkit-keyframes bounce {
     from {-webkit-transform: translateY(0px);}
     to   {-webkit-transform: translateY(6px);}
}
@-moz-keyframes bounce {
     from {-moz-transform: translateY(0px);}
     to   {-moz-transform: translateY(6px);}
}

#roadPics {
	padding: 10px;
}
#roadPics img {
	cursor: pointer;
	height: 80px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.modal-dialog {
	width: 300px!important;
}
#picsModal .modal-body {
	text-align: center;
	background: #fff;
	opacity: 0.8;
	border-radius: 10px;
}

#homeButtons {
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 100px;
}

#homeButtons button {
    font-family: 'speedyswag';
	margin: 30px;
	font-size: 2em;
	font-weight: bold;
	box-shadow: 1px 1px 20px #000;
	padding: 20px;
	color: #111;
}
#homeButtons button:hover {
	opacity: 0.8;
}